<h2><i><span class="text-inversion-style"><b>みつけちゃった？</b></span></i></h2>
<p><b><span class="text-inversion-style">ここは山岸専用ページです。こういうページは普通山岸以外見えないようにするものなのですが、怠惰ゆえにロックをかけていませんでした。
<br>みつかっちゃったときに対応しようと思っていたので、みつけたあなたは山岸のtwitterにご一報ください。</b></span></p>

<%= form_for @image do |form| %>
  <%= form.attachment_field :image %>
  <%= form.submit "投稿", class: "" %>
<% end %>

<%@images.each do |i| %>
  <p>ID: <%= i.id %> created_at: <%= i.created_at %> <%= link_to '削除', "/post_images/#{i.id}", method: :delete %></p>
<% end %>
