<!DOCTYPE html>
<html>
  <head>
    <title>Chiritsumo</title>
    <%= csrf_meta_tags %>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.14.2/matter.min.js"></script>-->
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>window.onunload = function() {};</script>
  </head>

  <body>
    <nav class="information">
      <ul>
        <li><%=link_to "nanikore",about_path %></li>
        <li><%= link_to "twitter", "https://twitter.com/cntmeter" %></li>
        <li><%= link_to "instagram", "https://www.instagram.com/asakuraminamidayo/" %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
